
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;  
}

input[type=text] {
  height: 40px;
  width: 220px;
  padding: 8px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  margin-bottom: 12px;
  border-radius: 5px;
}

input[type=password] {
  height: 40px;
  width: 220px;
  padding: 8px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  margin-bottom: 12px;
  border-radius: 5px;
}

input[type=submit] {
  height: 35px;
  width: 100px;
  background-color: #3696D4;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.auth-div {
  margin-bottom: 18px;
}

.auth-errors {
  text-align: center;
  color: red;
  opacity: 0;
}

.auth-errors.show {
  opacity: 1;
  transition: opacity .4s;
}

.auth-errors li {
  margin-bottom: 7px;
}